
.hamburger {
    top: 0;
    display: block;
    width: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    position: fixed;
    right: 20px;
    z-index: 000; /* Ensure it's above other content */
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #342D3F;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}


.navigation{
    margin-top: 40px;
    position: fixed;
    top: -1%;
    left:-100%;
    width: 200px;
    min-height: 100vh;
    display: block;
    z-index: 90;
    background-color:#342D3F;
    padding-top: 10px;
    transition: 0.4s;
    overflow-y: auto;
    font-family: 'Inter';
}


.navigation.is-active{
    left: 0;
}

.nav-bars {
    display: inline-flex; /* Use inline-flex to align items horizontally */
    align-items: center; /* Vertically center the items */
    text-align: center;
    width: auto;
    max-width: 100%;
    margin: 0 50px;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    color: #F6F7F1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.button-homepage {
    position: relative;
    cursor: pointer;
    background-color: #342D3F;
    border-radius: 20px;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: none;
    outline: none;
    box-shadow: none;
    padding: 2px; /* Add some padding for better appearance */
    margin-left: var(--button-margin-left, 0px); /* Adjustable horizontal space */
}

.nav-bars1{
    display: block; /* Use inline-flex to align items horizontally */
    align-items: center; /* Vertically center the items */
    text-align: center;
    width: auto;
    max-width: 300px;
    margin: 0;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    color: #F6F7F1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.nav-background a:hover{
    text-shadow: 0 0 5px #ccbaff;
    text-decoration: underline;
    -webkit-text-decoration-color: #D4CBE0; /* Safari */  
    text-decoration-color: #D4CBE0;
}

.navigation p{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    padding: 12px 16px;
    margin-bottom: 3px;
    background-color: none;
    color: #785694;
    font-size: 14px; /* Added font size */
    font-weight: 400; /* Added font weight */
    line-height: 23.17px; /* Added line height */
    border-radius: 5px 5px 5px 5px;
}

.BEGINNER{
    display: block;
    text-align: center;
    width: auto; /* Changed to auto for flexible width */
    max-width: 300px; /* Set a specific max width */
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: #1A171E;
    margin-bottom: 20px;

    color: #D4CBE0;
    font-size: 14px; /* Added font size */
    font-weight: 200; /* Added font weight */
    line-height: 23.17px; /* Added line height */
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
    text-decoration: none; /* Remove underline from link */
    color: #1A171F;
    border-radius: 10px;
    border-color: #1A171E;
    max-width: 100%;
    background-color: #D4CBE0;
    min-height: 100%;
    opacity: 100%;
}
.profile-image{
    color: #1A171F;
}

.border-image {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    width: 90px; /* Ensure border-image has a defined width */
    height: 90px; /* Ensure border-image has a defined height */
    transform: translateY(4px); /* Move the element down by 10px */
    border: 5px solid transparent; /* Set border width and make it transparent */
    border-color: #1A171E;
    border-radius: 50%; /* Make the border round */
    /* transform: translateY(-10px); Uncomment and adjust if you want to move it up */
}

.profile-button {
    position: relative; /* Relative positioning allows adjustment from its original position */
    top: 10px; /* Adjust this value to change the vertical position */
    margin-left: 165px; /* Keep this value as needed */
    width: 30px; /* Increase width to accommodate bigger icon */
    height: 30px; /* Increase height to accommodate bigger icon */
    cursor: pointer;
    background-color: #342D3F;
    border-radius: 20px;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove any box shadow */
    padding: 0; /* Remove any padding */
}

.profile-button:hover{
    background-color: #F6F7F1;
}

.button-profile {
    fill: #808080; /* Set the fill color to gray */
    width: 28px; /* Increase the width */
    height: 28px; /* Increase the height */
}


.Profile {
    width: 90px;
    height: 90px;
    border-radius: 50%; /* Makes the image round */
    border: 7px solid transparent; /* Fix the border property */
    margin: 0; /* Reset margin */
    opacity: 0.3; /* Adjust opacity correctly */
}

.profile-background{
    text-decoration: none; /* Remove underline from link */
    color: #1A171F;
    border-radius: 0px 0px 10px 10px ;
    border-color: #1A171E;
    max-width: 100%;
    background-color: #D4CBE0;
    min-height: 100%;
    opacity: 100%;
}

.profile-background p{
    color: #1A171F;
}


.topnav-text {

    color: #523F6D;
    z-index: 500;
    position: fixed;
    left: 60px;
    font-weight: bolder;
    font-size: 30px;
}
.topnav-text{
    text-decoration: none;
}

.topnav-logo {
    width: 60px;
    height: auto;
    margin-left: 15px;

}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .hamburger {
        right: 10px; /* Adjust right position for smaller screens */
        width: 30px; /* Adjust width for smaller screens */
    }
}

.form-popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 18%;
    left: 23%;
    transform: translate(-50%, -50%); /* Center the form */
    background-color: #342D3F;
    border-radius: 15px;
    z-index: 9;
    width: 160px;
    height: 50px;
    padding: 20px; /* Optional: add padding for content */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Optional: add shadow for better visibility */
}

.form-popup a {
    font-size: 12px;
    color: white; /* Ensure text color is visible against the background */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    font-family: 'Inter';
}

.form-popup a:first-child {
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%); /* Center the "Sign Up" link */
    left: 50%;
}

.form-popup a:last-child {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%); /* Center the "Sign Up" link */
    left: 50%;
}

