  .Main{
    background-color: #1A171E;
  }
  .title-container{
    position: relative;
    width: 100%;
    z-index: auto;
    top: calc(10% + 30px);
    left: 45%;
    color: #D4CBE0;
  }

  .navigation-container{
    position: relative;
    width: 100%;
    z-index: auto;
    top: calc(15% + 30px);
    left: 13%;
    color: #D4CBE0;
  }
  .navigation-container a{
    cursor: pointer;
    margin-right: 35px;
    text-decoration: none;
    color: #D4CBE0;
  }
  .navigation-container a:hover{
    text-shadow: 0 0 5px #ccbaff;
    text-decoration: underline;
    -webkit-text-decoration-color: #D4CBE0; /* Safari */  
    text-decoration-color: #D4CBE0;
  }

  .Upload-Search{
    position: relative;
    width: 100%;
    z-index: auto;
    top: calc(20% + 30px);
    left: 13%;
  }

  .btn-upload{  
    position: relative;
    z-index: auto;
    width: 30%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    left: 30px;
    background-color: #9984D1;
    cursor: pointer;
  }

  .btn-upload:hover{
    background-color: #ccbaff;
  }
  
  .search-bar {
      position: relative;
      width: 60%;
      z-index: auto;
  }
  
  .search-bar input[type="text"] {
      width: 100%;
      padding: 10px 20px 10px 40px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
  }
  
  .search-bar .fa-search {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #ccc;
  }